*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body{
	background-color: #E0F8F7
}
/*BARRA DE MENU*/
h1{
	font-family: 'Coiny', cursive;
}
.menu{
	background: #0080FF;
	width: 100%	
}
.logo a{
	text-decoration: none;
	color: white;
}
.logo a span{
	color: #F78181;
	font-family: 'Coiny', cursive;
}
.caja.menu{
	height: 80px;
	margin: auto;
}
.logo h1{
	margin: 15px;
	margin-left: 67px;
}
.caja.link a{
	text-decoration: none;
	color: whitesmoke;
	margin-left: 30px;
	cursor: pointer;
	font-size: 0.9em;
}
.caja.link{
	margin-top: 30px;
}
.caja.menu .col9{
	text-align: right;
}
/*HOME*/ 
.caja.home-section, .info-boxes, .media-bunny-box{
	display: flex;
	justify-content: center;
	margin: inherit;
}
.col12.home-section{
	background: url('../img/img-1.jpg');
	background-size: cover;
	height: 70vh;
	padding: 50px 0;
}
.home-box{
	background-color: rgba(0, 141, 203, 0.6);
	height: 350px;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0 ;
}
.home-box h1{
	color: #F78181;
	font-size: 5em;
}
.home-box p{
	color: white;
	font-style: italic;
	letter-spacing: 8px;
	padding: 20px;
}

/*SECTION BUNNYS BOX*/
.box-bunnys img{
	width: 100%;
	padding-top: 20px;
}
.box-bunnys h1{
	color: #F78181;
	font-size: 1em;
	background-color: #0080FF;
}
.box-bunnys p{
	background-color: #0080FF;
	padding: 40px 20px;
	height: 40vh;
	color: white;
}

.box-bunnys{
	background-color: white;
	padding: 8px;	
	margin: 0;
	box-sizing: content-box;
}
/*BOX IMAGE SECTION*/
.box-image img{
	width: 100%;
	
}
.box-image{
	margin: 0;
	padding: 20px 10px;
	background-color: #0080FF;
}
.box-image-two{
	background-color: #0080FF;
	padding: 20px 10px;
	margin: 0;
}
.box-image-two img{
	width: 100%;
	margin-top: 10px;
}
.box-image-two input{
	width: 100%;
	border-radius: 5px;
	height: 20px;
	padding: 15px;
	border: 25px solid #E0F8F7;
}
.box-image h1, .box-image-two h1{
	color: #F78181;
	background-color: #E0F8F7;
	padding: 10px;
}
.box-image p, .box-image-two p{
	background-color: #E0F8F7;
	padding: 10px;
}
.social-media{
	width: 100%;
	background-color: #E0F8F7;
	text-align: center;
	color: blue;
}
.social-media i{
	padding: 10px;
	border-radius: 100%;
	background-color: white;
	margin: 10px 10px 30px 10px;

}
iframe{
	width: 100%;
}
.media-bunny-box{
	text-align: center;
}
.box-image-two h1{
	font-size: 1em;
}
.box-image-two p{
	padding: 20px;
}
.caja.final{
	background: url('../img/bunny-head.png');
	height: 60px;
	background-size: 128px;
	margin: 20px;
}
/*Footer*/
.footer{
	height: 120px;
	background-color: #0080FF;
	width: 100%;
	color: white;
	text-align: center;
	border-top: 2px solid #F78181;
}
.footer p{
	padding-top: 50px;
}